$primary-050: #F6FBFC;
$primary-100: #DCF3F7;
$primary-150: #b1e4ec;
$primary-200: #80CCD9;
$primary-300: #42A6B8;
$primary-400: #00849C;
$primary-500: #006B7D;
$primary-600: #1C5963;
$primary: $primary-400;

$purple-400: rgb(89, 81, 134);

$gray-100: #E6EEF4;
$gray-200: #B5C3CE;
$gray-300: #8892A0;
$gray-400: #606E7C;
$gray-500: #3E4C54;
$gray-600: #2A3942;
$gray: $gray-400;

$orange-100: #feb;
$orange-400: #f99;

$yellow-200: rgb(255, 236, 153);
$yellow-400: rgb(216, 184, 41);
$yellow-600: rgb(90, 79, 32);


$white: white;
$black: black;
