$primary-050: #f6fbfc;
$primary-100: #dcf3f7;
$primary-150: #b1e4ec;
$primary-200: #80ccd9;
$primary-300: #42a6b8;
$primary-400: #00849c;
$primary-500: #006b7d;
$primary-600: #1c5963;
$primary: $primary-400;

$purple-400: rgb(89, 81, 134);

$gray-100: #e6eef4;
$gray-200: #b5c3ce;
$gray-300: #8892a0;
$gray-400: #606e7c;
$gray-500: #3e4c54;
$gray-600: #2a3942;
$gray: $gray-400;

$orange-100: #feb;
$orange-400: #f99;
$orange-600: #d85252;

$yellow-200: rgb(255, 236, 153);
$yellow-400: rgb(216, 184, 41);
$yellow-600: rgb(90, 79, 32);

$white: white;
$black: black;
