.projects-page {
  width:90vw;
  max-width: 1200px;
  margin:auto;
  font-size:16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  a {
    color: rgb(46, 81, 175);
  }

  section {
    line-height: 1.5;

    h3, h4 {
      margin:0;
    }

    h3 {
      font-size: 1.5em;
    }

    h1, h2, h3, h4, h5, h6 {
      > a {
        text-decoration: none;
      }
    }

    > ul {
      list-style: none;
      margin:0;
      padding:0;
      display:flex;
      flex-flow: wrap;
      margin-left:-2em;
      margin-right:-2em;

      > li {
        width:50%;
        padding:2em;

        img {
          max-width: 100%;
        }

        @media (max-width: 700px) {
          width: 100%;
        }
      }

      .tags {
        list-style: none;
        margin:0;
        padding:0;
        display:flex;
        font-size:0.8em;
        flex-flow: wrap;

        > li {
          padding:0.25em 0.5em;
          margin-right:0.5em;
          margin-top:0.5em;
          border:1px solid rgb(208, 216, 226);
          text-transform: uppercase;
          letter-spacing: 0.05em;
          background: rgb(235, 247, 252);
          color: rgb(14, 45, 73);
          white-space: nowrap;
        }
      }
    }

    @media (max-width: 700px) {
      font-size:3.5vw;
    }

  }

  @media (max-width: 900px) {
    font-size: 2vw;
  }
}
