@import '../styles/fonts';
@import '../styles/colors';

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noticia Text', serif;
  font-weight: bold;
}

::selection {
  background-color: rgba($primary-200, 0.5);
}
