@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Open+Sans:wght@300;400;600;700;800&family=Raleway:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap");

@import "../../styles/fonts";
@import "../../styles/colors";
@import "../../styles/prism-theme-default";

$open-stack: "Open Sans", sans-serif;
$raleway-stack: "Raleway", sans-serif;
$handwriting-stack: "Caveat Brush", cursive;
$serif-stack: "Source Serif Pro", serif;

$flash-gray: #6f7b7b;
$flash-red: #c51118;
$intro-accent: #e4f1f0;
$margin-tan: #fcf7e7;
$line-height: 1.9;

.extra-space {
  margin-top: 3em;
  margin-bottom: 3em;

  &.mega {
    margin-top: 6em;
    margin-bottom: 6em;
  }
}

.extra-space-top {
  margin-top: 3em;
}

.tight-line {
  margin-bottom: 0;
}

.tight-line + .tight-line {
  margin-top: 0;
}

.loud {
  font-size: 24px;
  font-weight: bold;
}

.kinda-loud {
  font-size: 24px;
}

.barely-loud {
  font-size: 18px;
  line-height: 1.5;
}

.timeline {
  margin-top: 40px;
  position: relative;
  z-index: 2;
}

.bg-anchor {
  position: relative;

  .bg-label {
    left: 0;
    top: calc(-1em - 2px);
  }
}

.bg-label {
  font-size: 48px;
  font-weight: bold;
  color: $intro-accent;
  position: absolute;
  top: calc(-1em + 2px);
  left: -2ch;
  z-index: -1;
}

@for $i from 1 through 7 {
  .indent-#{$i} {
    margin-left: 30px * $i;
  }
}

.fade {
  opacity: 0.6;
}

.right,
.tight-line.right {
  text-align: right;
  margin-top: -1em * $line-height;
}

.margin-note {
  font-weight: 600;
  color: #cd7b1a;
}

// TODO: mobile styles
#margins {
  position: absolute;
  left: 900px;
  top: 0;

  .margin-container {
    position: relative;
    svg {
      overflow: visible;
      pointer-events: none;
      position: absolute;
      z-index: 1;

      line {
        stroke-width: 3;
        stroke: $margin-tan;
      }
    }
  }

  .margin-note-note {
    background: $margin-tan;
    color: #3a3a3a;
    padding: 15px;
    font-size: 12px;
    font-family: $open-stack;
    width: 200px;
    margin-bottom: 1em;
    line-height: 1.7;
    position: absolute;
    z-index: 10;

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.flash-title {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  padding-top: 250px;
  padding-left: 100px;
  padding-bottom: 100px;

  box-shadow: inset 0 0 30px 15px rgba(#c1cabc, 0.23);

  h1 {
    font-family: $raleway-stack;
    text-transform: uppercase;
    font-size: 64px;
    color: $flash-gray;
    margin-bottom: 0;
  }

  .primary {
    font-weight: bold;
    background: linear-gradient(to bottom, #f31019, #c51118);
    color: $flash-red;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .secondary {
    font-weight: normal;
  }

  dl {
    margin-top: 0;
    font-size: 28px;
    font-family: $raleway-stack;
    color: $flash-red;
  }

  dd {
    margin: 0;
  }

  blockquote {
    font-size: 24px;
    margin: 0;
    margin-bottom: 15px;
    position: relative;

    &::before {
      position: absolute;
      display: block;
      content: "“";
      font-size: 72px;
      left: -30px;
      top: -20px;
      color: $intro-accent;
    }
  }

  figure {
    font-family: $open-stack;
    max-width: 700px;
    margin: 0;
    margin-top: 50px;
  }

  figcaption {
    text-align: right;
    font-size: 18px;
  }
}

.intro {
  position: relative;
  margin-top: 650px;
  background: #fff;
  font-family: $open-stack;

  &::before {
    position: absolute;
    left: 0;
    right: 0;
    top: -100px;
    height: 100px;
    background: linear-gradient(to bottom, rgba(#fff, 0), #fff);
    content: " ";
  }
}

.intro {
  > article {
    position: relative;
    z-index: 5;
    max-width: 700px;
    margin-left: 100px;
    font-size: 14px;
    line-height: $line-height;

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  .lede {
    font-size: 18px;
    .opening {
      font-size: 24px;
      font-weight: 600;
    }
  }

  .subnote {
    font-size: 12px;
  }
}

.open-web-banner {
  font-family: $open-stack;
  background: #fff;
  position: relative;
  padding-top: 30px;

  div {
    background: url("./remembering-flash/cs5-splash.svg");
    height: 380px;
    width: 100%;
    max-width: 1250px;
    background-size: cover;
    background-repeat: none;
    padding: 50px 0 80px 175px;
    position: relative;
    z-index: 2;
  }

  h2 {
    font-family: $open-stack;
    font-size: 48px;
    margin-bottom: 15px;
    margin-left: -9px;
    background: radial-gradient(ellipse at top, #ffbd8d, #ff8b37);
    color: #ffbd8d;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 2px 1px rgba(#000, 0.2));
  }
  p {
    font-size: 14px;
    max-width: 630px;
    color: #ffd4b5;
  }
}

.open-web {
  background: #faf4f0;
  position: relative;
  font-family: $open-stack;
  overflow: visible;
  padding-bottom: 100px;

  &::before {
    position: absolute;
    width: 150%;
    height: 600px;
    left: -300px;
    top: -303px;
    background: #faf4f0;
    transform: rotate(-15deg);
    content: " ";
  }

  > article {
    position: relative;
    z-index: 5;
    max-width: 700px;
    margin-left: 100px;
    font-size: 14px;
    line-height: $line-height;

    ol {
      counter-reset: openWebAlpha;
      list-style-type: none;
      list-style-position: outside;

      li {
        counter-increment: openWebAlpha;
        margin-bottom: 1em;
        position: relative;

        &::before {
          font-family: $open-stack;
          font-weight: bold;
          content: counter(openWebAlpha, lower-alpha);
          display: inline-block;
          width: 16px;
          height: 16px;
          border-radius: 100%;
          background: #ff8b37;
          color: #fff;
          text-align: right;
          text-indent: 5px;
          padding-right: 4px;
          padding-bottom: 4px;
          left: -25px;
          position: absolute;
        }
      }
    }
  }

  pre,
  code {
    font-size: 12px;
  }

  .bg-label {
    color: #f2daca;
  }
}

.thoughts-on-flash-banner {
  height: 0px;
  overflow: visible;
  position: relative;
  z-index: 5;

  h2 {
    font-family: Helvetica, sans-serif;
    font-size: 36px;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 5px;
    background: linear-gradient(to bottom, #c6c6c6, #868686);
    margin: 0 40px;
    transform: translateY(-50%);
    color: #393939;
    text-shadow: 0 1.5px 1px rgba(#fff, 0.5);

    .beginning {
      padding: 1em 40px 1em 60px;
      margin-right: 40px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      background: linear-gradient(to bottom, #929292, #555);
      text-shadow: none;

      .inner-shadow {
        background-color: rgba(#1a1a1a, 0.8);
        text-shadow: 0 2px 1px #fff;
        background-clip: text;
        color: transparent;
      }
    }
  }
}

.thoughts {
  background: #fff;
  padding-top: 100px;
  position: relative;
  font-family: $open-stack;

  &.thoughts-ext {
    padding-top: 1em;
  }

  &.thoughts-last {
    padding-bottom: 50px;
  }

  > article {
    position: relative;
    z-index: 5;
    max-width: 700px;
    margin-left: 100px;
    font-size: 14px;
    line-height: $line-height;

    & > *:last-child {
      margin-bottom: 0;
    }

    blockquote {
      color: #a47836;
      font-family: $handwriting-stack;
      font-size: 16px;
      line-height: 20px;
      margin: 0;
      margin-left: -50px;
      margin-right: -50px;
      padding: 15px 50px;
      position: relative;

      p {
        margin-bottom: 20px;
        margin-top: 20px;
        z-index: 1;
        position: relative;
      }

      background: linear-gradient(to bottom, #fffee3, #fffdb4);

      &::after {
        border-left: 1px solid #ac593b;
        border-right: 1px solid #ac593b;
        width: 2px;
        top: 0;
        bottom: 0;
        left: 30px;
        content: " ";
        display: block;
        position: absolute;
      }

      &::before {
        position: absolute;
        display: block;
        content: " ";
        left: 0;
        right: 0;
        bottom: 0;
        top: 30px;

        $line-color: #ccc;
        background: repeating-linear-gradient(
          $line-color,
          $line-color 1px,
          transparent 1px,
          transparent 20px
        );
      }

      > *:first-child {
        margin-top: 0;
      }

      > *:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.show-more-dialog {
  background: white;
  font-family: $open-stack;
  font-size: 18px;
  line-height: 1.5;
  box-shadow: 0 0 20px 20px #fff;
  position: relative;
  z-index: 10;

  &.accepted {
    box-shadow: none;
    .dialog {
      margin: 0;
      padding: 0;
    }
  }

  .dialog {
    margin-left: 50px;
    width: 800px;
    padding: 25px 75px;
    margin-bottom: -2em;
  }

  .heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0.3em;

    + p {
      margin-top: 0.3em;
    }
  }

  .is-hidden {
    display: none;
  }

  .actions {
    margin-bottom: 50px;

    button {
      margin-right: 15px;
      position: relative;

      border-radius: 50px;
      font-size: 16px;
      padding: 8px 20px;
      border: 1px solid #bebebe;

      background: linear-gradient(to bottom, #f8f8f8, #d6d6d6);
      cursor: pointer;

      &::after {
        position: absolute;
        display: block;
        left: 3px;
        top: 2px;
        right: 3px;
        bottom: 3px;
        border-radius: 50px;
        background: linear-gradient(to bottom, rgba(#fff, 0.9), transparent);
        content: " ";
        pointer-events: none;
      }

      &::before {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        top: calc(100% + 2px);
        height: 20px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background: linear-gradient(
          rgba(#bebebe, 0.8),
          rgba(#bebebe, 0.6) 1px,
          rgba(#d6d6d6, 0.6) 1px,
          transparent 70%
        );
        content: " ";
      }

      &:hover {
        background: linear-gradient(to bottom, #d0eeff, #56aaf8);

        &::after {
          background: linear-gradient(
            to bottom,
            rgba(#c6ffff, 0.9),
            transparent
          );
        }

        &::before {
          background: linear-gradient(
            rgba(#bebebe, 0.8),
            rgba(#bebebe, 0.8) 1px,
            rgba(#56aaf8, 0.4) 1px,
            transparent 70%
          );
        }
      }
    }
  }

  img {
    user-select: none;
    position: absolute;
    left: 725px;
    top: -70px;
    width: 300px;
  }
}

.history {
  padding: 50px 0;
  background: rgba(#a6734e, 0.1);
  position: relative;
  font-family: $open-stack;
  z-index: 5;
  margin-top: -15px;
  margin-bottom: -15px;

  &::before,
  &::after {
    position: absolute;
    width: 100%;
    top: -15px;
    bottom: -15px;
    background: rgba(#a6734e, 0.1);
    content: " ";
    display: block;
    z-index: -1;
  }

  &::after {
    background: linear-gradient(to right, #ffedd2, #ffedd2 800px, #ffcc9c);
    top: 15px;
    bottom: 15px;
  }

  > article,
  > h2 {
    position: relative;
    z-index: 6;
    max-width: 700px;
    margin-left: 100px;
    font-size: 14px;
    line-height: $line-height;

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  > h2 {
    font-family: $open-stack;
    font-weight: 800;
    letter-spacing: -1px;
    font-size: 46px;
    color: #cc2e38;
    margin-bottom: 0;
    margin-top: 0;
  }

  dl p {
    display: flex;
    margin-bottom: 1.5em;
  }

  dt {
    font-weight: 600;
    width: 50%;
    text-align: right;
  }

  dd {
    width: 50%;
    margin-left: 20px;
  }
}
